@page "/friendrequest"
@inject IFriendRequestVm ViewModel

<DisplayNotification Notification="ViewModel.Notification" />

<div>
    <div class="card">
        <div class="card-body">
            @if (ViewModel.Items.Any())
            {
                @foreach (var item in ViewModel.Items)
                {

                    <div class="row">
                        <div class="col-3">
                            <img class="img-circle" src="@(item.ProfileImage)" alt="" />
                        </div>
                        <div class="col-6 m-auto">
                            <p>@item.Username</p>
                            <p>@item.Fullname</p>
                        </div>
                        <div class="col-3 m-auto">
                            <div class="btn-group">
                                <button @onclick="(()=>HandleAcceptReques(item.UserId))" type="button" class="btn btn-danger">Accept</button>
                                <button @onclick="(()=>HandleRejectReques(item.UserId))" type="button" class="btn btn-danger">Reject</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />


<EditForm Model="ViewModel.ModelItem" OnValidSubmit="HandleSubmit">
    <FluentValidator></FluentValidator>

    <div class="row">
        <div class="col">
            <ValidationMessage For="@(() => ViewModel.ModelItem.ReceiverId)" />
            <input @oninput="OnInputSelect" @onfocusout="@(()=>SearchingOnFocusOut())" class="form-control" placeholder="Enter username" />

            @if (ViewModel.IsShowResult)
            {
                <div style="position:absolute;background-color:white;height:250px;width: 98%;">
                    @foreach (var item in ViewModel.SearchItems)
                    {
                        <p class="search-result" @onclick="()=>ClickSearchResult(item)">@item.Username</p>
                    }
                </div>
            }

            @if (ViewModel.ModelItem is not null)
            {
                <p class="mt-2">User Selected Id:  @ViewModel.ModelItem.ReceiverId</p>
            }

        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</EditForm>


@code {

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.HandleGetAllFriendRequests();
    }

    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    protected async Task HandleSystemInfoSubmit()
    {
        await ViewModel.HandleGetAllFriendRequests();
    }

    protected async Task OnInputSelect(ChangeEventArgs args)
    {
        await ViewModel.HandleSearchUser(args.Value.ToString());
    }

    protected async Task ClickSearchResult(UserSearchModel user)
    {
        await ViewModel.HandleSearchClick(user);
    }

    public async Task SearchingOnFocusOut()
    {
        await Task.Delay(500);
        ViewModel.IsShowResult = false;
    }

    protected async Task HandleSubmit()
    {
        await ViewModel.HandleSendRequest();
    }

    protected async Task HandleAcceptReques(string id) => await ViewModel.AcceptRequest(id);

    protected async Task HandleRejectReques(string id) => await ViewModel.DeclineRequest(id);
}
